:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  background-color: var(--white);
  color: var(--dark-blue);
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 1440px) { /* Desktop */
  .container {
    width: 1400px;
  }
}
@media (max-width: 375px) { /* Mobile screen */
  .container {
    width: 90%;
  }
  body {
    font-size: 16px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}